*, *:before, *:after{
  box-sizing: border-box;
  margin: 10px;
  padding: 13px;
  background-color: rgb(97, 77, 52);
}

body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  