{% extends 'base.html' %}
{% block title %}All Categories{% endblock %}


{% block body %}

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/login">Login</a></li>

  </ul>

<h1>All Categories</h1>

{% for category in categories %}
  <section class="category_list_item">
    
    <li>
      <a href="/categories/{{ category.id }}">
      Category: {{ category.category }}
    </a>
    </li>
  </section>
{% endfor %}

{% endblock %}
