{% extends 'base.html' %}
{% block title %}All Resources{% endblock %}

{% block body %}

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/login">Login</a></li>

  </ul>

<h1>All Resources</h1>

{% for resource in resources %}
<section class="resource_list_item">
  <h2>{{ resource.resource }}</h2>
  <ul>
    <li>Location: {{ resource.location }}</li>
    <li>Contact: {{ resource.contact }}</li>
    <li>Category: {{ resource.category.category }}</li>
  </ul>
</section>
{% endfor %}

{% endblock %}
