{% extends 'base.html' %}
{% block title %}Category{% endblock %}

{% block body %}

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/login">Login</a></li>

  </ul>
  
<h1>Category</h1>

<li>Category:
  <a href="/categories/{{ category.id }}">
   {{ category.category }}
</a>
</li>
<p>

 some fun facts about category
</p>

{% endblock %}