{% extends 'base.html' %}
{% block title %}Category{% endblock %}

{% block body %}

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/">Login</a></li>

  </ul>
  
<h1>Category</h1>

<li>
  Category:{{ category }}
</li>

<p>
 some fun facts about category
</p>

{% for resource in resources %}
<section class="resource_list_item">
    {{ resource }}</a>
    <ul>
      <li>Location: {{ resource.location }}</li>
      <li>Contact: {{ resource.contact }}</li>
      <li>Category: {{ resource.category }}</li>
      <li>resource id {{resource.id}} </li>

    </ul>

{% endfor %}

<form id="resources-form" method="post" action="/bookmark">

  <div class="form-group">
    <label for="resource-field">Resource</label>
    <select name="resource" class="form-control" id="type-field">

      {% for resource in resources %}
      <option name= "resource_id" value="{{ resource.id }}">{{ resource }}</option>         
      {% endfor %}

    </select>
  </div>
 
  <input type="submit" class="btn btn-primary">

</form>

{% endblock %}