{% extends 'base.html' %}

{% block title %}{{ current_user.username }}'s Profile{% endblock %}

{% block body %}
<h1>Hi {{ current_user.username }}</h1>

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

{% for bookmark in bookmarks %}
  <section class="bookmark_list_item">
    
    <li>Bookmarks:
      <a href="/profile/ {{ bookmark.user_id }}">
       {{ bookmark.resource }}
    </a>
    </li>
  </section>
{% endfor %}

{% endblock %}
