{% extends 'base.html' %}

{% block title %}{{ current_user.username }}'s Profile{% endblock %}

{% block body %}
<h1>Hi {{ current_user.username }}</h1>

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>

<h1>Bookmarks</h1>

{% for bookmark in bookmarks %}
  <section class="bookmark_list_item">
    
    <li>
       {{ bookmark.resource.org_name}}
    </a>
    </li>
  </section>
{% endfor %}

<form id="bookmark-form" method="post" action="/profile">

  <div class="form-group">
    <label for="resource-field">Bookmarked Resources</label>
    <select name="bookmark" class="form-control" id="type-field">

      {% for bookmark in bookmarks %}
      <option name= "bookmark_resource_id" value="{{ bookmark.resource_id }}">{{ bookmark.resource.org_name }}</option>         
      {% endfor %}

    </select>
  </div>
 
  <input type="submit" class="btn btn-primary" value ="Delete">

</form>
{% endblock %}
