{% extends 'base.html' %}
{% block title %}Resources{% endblock %}

{% block body %}

<h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/login">Login</a></li>

  </ul>



  <form id="bookmark-form" method="post" action="/resources">

    <div class="form-group">
      <label for="resource-field">Resource</label>
      <select name="reource" class="form-control" id="type-field">

        {% for resource in resources %}
          <section class="resource_list_item">
            
            <p>Resources:
              <a href="/resources/{{ resource.id }}">
              {{ resource.resource }}
            </a>
            <ul>
              fun facts about resources
            </ul>
          </p>
          </section>
        {% endfor %}

      </select>
    </div>
   
    <input type="submit" class="btn btn-primary">
  
  </form>
{% endblock %}
