{% extends 'base.html' %}
{% block title %}Community Resource Directory{% endblock %}

{% block body %}

  <h1>Navigation</h1>
  <ul>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/login">Login</a></li>

  </ul>
 
  <h2>Sign Up</h2>
  <form action="/signup" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

{% endblock %}
